<div class="grid-container">
    <br>
    <h2 class="header">Team Edit</h2>
    <div class="grid-item"> 
        <label>Name:
            <input [(ngModel)]="name" placeholder="name"/>
        </label>
    </div>
    <div class="grid-item">
        <label>Add player: 
            <mat-form-field>
                <mat-label>Players</mat-label>
                <mat-select [formControl]="playersFormControl" multiple>
                    <mat-option *ngFor="let player of availablePlayers" [value]="player">{{player.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </label>
    </div>
    <div class="grid-item">
        <label>Record:
            <input [(ngModel)]="record" placeholder="record"/>
        </label>
    </div>
    <div class="grid-item">
        <label>League:
            <input [(ngModel)]="league" placeholder="league"/>
        </label>
    </div>
    <div class="buttonWrapper">
        <button type="submit" (click)="onSubmit()" class="submitButton">Submit</button>
    </div>
</div>