<br>
<h2 class="header">Add Player</h2>
<form [formGroup]="angForm" (ngSubmit)="onSubmit()" class="grid-container">       
    <div class="grid-item">
        <label>
            First Name:
            <input type="text" formControlName="firstName" name="firstName" required maxlength="12">
            <!-- <input type="text" id="firstName" class="form-control" formControlName="firstName" required> -->
        </label>    
        <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['firstName'].errors.required">
                    First name is required.
                </div>
        </div>
    </div>
    <div class="grid-item">
        <label>
            Last Name:
            <input type="text" id="lastName" formControlName="lastName" required maxlength="12">
        </label>
        <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['lastName'].errors.required">
                    Last name is required.
            </div>
        </div>
    </div>
    <div class="grid-item">
        <label>
            Nickname: 
            <input id="nickname" type="text" formControlName="nickname" maxlength="12">
        </label>
    </div>
    <div class="grid-item">
        <label>
            Email:
            <input id="email" type="email" formControlName="email" required>
        </label>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)">
                <div *ngIf="angForm.controls['email'].errors.required"  class="alert alert-danger">
                        Email is required.
                </div>
                <div class="alert alert-danger">Enter valid email address</div>
        </div>
    </div>
    <div class="grid-item">
        <label>
            Phone:
            <input id="phone" type="text" formControlName="phone" name = "phone" minlength="7" maxlength="10">
        </label>
        <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)">
                <div *ngIf="angForm.controls['phone'].errors.required"  class="alert alert-danger">
                        Phone is required.
                </div>
                <div  class="alert alert-danger">Phone number must be 7 digits</div>
        </div>
    </div> 
    <div class="grid-item">
        <label>
            Age:
            <input id="age" type="number" formControlName="age" maxlength="2">
        </label>
        <div *ngIf="angForm.controls['age'].invalid && (angForm.controls['age'].dirty || angForm.controls['age'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['age'].errors.required">
                Age is required.
            </div>
        </div>
    </div>
    <div class="grid-item">
        <label>
            Handicap:
            <input id="handicap" type="number" formControlName="handicap" maxlength="2">
        </label>
        <div *ngIf="angForm.controls['handicap'].invalid && (angForm.controls['handicap'].dirty || angForm.controls['handicap'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['handicap'].errors.required">
                    Handicap is required.
                </div>
            </div>
        </div>
    <div class="grid-item">
        <label>
            League:
            <input id="league" type="text" formControlName="league" maxlength="12">
        </label>
        <div *ngIf="angForm.controls['league'].invalid && (angForm.controls['league'].dirty || angForm.controls['league'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['league'].errors.required">
                    League is required.
                </div>
        </div>
    </div>
    <div class="buttonWrapper">
        <button type="submit" [disabled]="!angForm.valid">Submit</button>
    </div>
</form>