/* HeroesComponent's private CSS styles */

.parent {
  display: flex;
  flex-direction: row;
}

.scores {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

::ng-deep #gridContainer sup {
  font-size: 0.8em;
  vertical-align: super;
  line-height: 0;
}


::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}


/* 1  2 3 4  5 6 7 8 ...
   0  0 0 -1 1 1 1 1 ...
   3  3 3 4  5 3 4 4 ...
*/


.metadata {
  flex-direction: column;
  display: flex;
}

.hole {
  flex-direction: row;
  display: flex;
}

.scores {
  flex: 0 0 25em;
  display: flex;
  }

  .player {
    flex: 0 0 200em;
  }

.players {
    margin: 0 0 2em 0;
    list-style-type: none;
    list-style: none;
    padding: 0;
    width: 15em;
  }

  .players li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .players li:hover {
    color: rgb(13, 85, 7);
    background-color: #DDD;
    left: .1em;
  }
  .players li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .players li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .players .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#0a5c18;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  button {
    /* background: #0066A2;    */
    background: rgb(13,85,7); 
    padding: 5px 15px;  
    color: white;
    border-style: outset;
    border-color: rgb(0,0,0);
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}