<br>
<h2 class="header">Players</h2>
<ul class="players">
    <li 
        *ngFor="let player of players" 
        (click)="onSelect(player)" 
        [class.selected]="player === selectedPlayer">      
            <span class="badge">{{player.id}}</span> {{player.name}} <span>({{player.nickname}})</span>
        <!-- <div *ngIf="selectedPlayer && selectedPlayer === player"> -->
        </li>
        <div *ngIf="selectedPlayer">
                <button type="submit" (click)="onDelete()" [disabled]="!selectedPlayer">Delete</button>
        </div>
        </ul>

<app-player-edit [player] = "selectedPlayer"></app-player-edit>