<app-sidebar></app-sidebar>
<br>
<h2 class="header">Players</h2>
<!-- <cdk-virtual-scroll-viewport itemSize="50" class="players"> -->
<div *ngIf="!players"><span class="header">Loading..........</span></div>
<div *ngIf="players">
<ul class="players">
        <div class="grid-container">
        <cdk-virtual-scroll-viewport  style="height: 260px" itemSize="30" >
                <ng-container *cdkVirtualFor="let player of players">
                <li
                        (click)="onSelect(player)" 
                        [class.selected]="player === selectedPlayer"> 
                                <span class="badge">{{player.handicap}}</span> {{player.name}} <span>({{player.nickname}})</span>
                        <!-- <div *ngIf="selectedPlayer && selectedPlayer === player"> -->
                </li>
                </ng-container>
        </cdk-virtual-scroll-viewport>
      </div>
        <!-- <div class="addbutton" *ngIf="!selectedPlayer"> -->
        <div class="addbutton">
                        <button class="addPlayerButton" (click)="onAdd()">Add Player</button>
        </div>
        <!-- <div class="deletebutton" *ngIf="selectedPlayer"> -->

        <div class="editbutton">
                <button (click)="onEdit()" [disabled]="!selectedPlayer">Edit Player</button>
        </div>
        <div class="deletebutton">
                        <button type="submit" (click)="onDelete()" [disabled]="!selectedPlayer">Delete Player</button>
        </div>
        <div class="findByName">
                <label class="findByNameLabel">Find By Name:
                <input [(ngModel)]="findPlayer" (focus)="findByNameFocus()" type="text" id="findByName">
                </label>
                <div *ngIf="playerNotFound" class="alert alert-danger">
                        Player not found
                </div>
                <button class="findButton" type="submit" (click)="onFind()">Find</button>
        </div>
</ul>
</div>
<!-- </cdk-virtual-scroll-viewport> -->

<!-- <app-player-edit [player] = "selectedPlayer"></app-player-edit> -->