<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<h1 class="header">Golf-Matcher</h1>

<ng-sidebar-container style="height: 30vh;">

  <ng-sidebar [(opened)]="_opened">
      <h3><a routerLink="/dashboard" class="router-link">Dashboard</a></h3>
      <h3><a routerLink="/players" class="router-link">Players</a></h3>
      <h3><a routerLink="/addplayer" class="router-link">Add Player</a></h3>
      <h3><a routerLink="/teams" class="router-link">Teams</a></h3>
      <h3><a routerLink="/handicaps" class="router-link">Handicaps</a></h3>
      <h3><a routerLink="/schedule" class="router-link">Schedule</a></h3>
      <h3><a routerLink="/scores" class="router-link">Scores</a></h3>
      <br>
    </ng-sidebar>
  <div ng-sidebar-content>
      <div align="right">
              <button (click)="_toggleSidebar()">Sidebar</button>
      </div>
  </div>
</ng-sidebar-container>
<router-outlet></router-outlet>

<!-- <app-authentication></app-authentication> -->

