.router-link {
    /* text-align: center; */
    color: rgb(13,85,7);
    font: bold;
}
button {
    /* background: #0066A2;    */
    background: rgb(13,85,7); 
    padding: 5px 15px;  
    color: white;
    border-style: outset;
    border-color: rgb(0,0,0);
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    float: right;
}
  
button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.splash-picture {
    float: center;
    padding-left: 140px;
    width: 93%;
    height: 400px;
}