
<ng-sidebar-container style="height: 40vh;">
    <ng-sidebar [(opened)]="opened">
        <h3><a routerLink="/dashboard" class="router-link">Dashboard</a></h3>
        <h3><a routerLink="/players" class="router-link">Players</a></h3>
        <h3><a routerLink="/teams" class="router-link">Teams</a></h3>
        <h3><a routerLink="/handicaps" class="router-link">Handicaps</a></h3>
        <h3><a routerLink="/schedule" class="router-link">Schedule</a></h3>
        <br>
      </ng-sidebar>
    <div ng-sidebar-content>
        <div align="right">
                <button (click)="_toggleSidebar()">Sidebar</button>
        </div>
    </div>
  </ng-sidebar-container>