
<ng-sidebar-container style="height: 37vh;">
    <!-- <ng-sidebar [(opened)]="opened"> -->
      <ng-sidebar [(opened)]="opened">
        <h3><a routerLink="/dashboard" class="router-link">Dashboard</a></h3>
        <h3><a routerLink="/players" class="router-link">Players</a></h3>
        <h3><a routerLink="/teams" class="router-link">Teams</a></h3>
        <h3><a routerLink="/handicaps" class="router-link">Handicaps</a></h3>
        <h3><a routerLink="/schedule" class="router-link">Schedule</a></h3>
        <h3><a routerLink="/scores" class="router-link">Scores</a></h3>
        <h3><a routerLink="/leaderboard" class="router-link">Leaderboard</a></h3>
        <br>
      </ng-sidebar>
    <div ng-sidebar-content>
      <div align="right">
        <button (click)="_toggleSidebar()">Sidebar</button>
      </div>
        <img class="splash-picture"
          src="assets/golf-image.jpg"
          alt="Image of golf hole">
    </div>
  </ng-sidebar-container>