  .header {
    /* text-align: center; */
    color: rgb(13,85,7);
    font: bold;
  }
  .teams {
    margin: 0 0 2em 0;
    list-style-type: none;
    list-style: none;
    padding: 0;
    width: 15em;
    position: relative;
  }
  
  .teams li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    /* height: 1.6em; */
    height: 2em;
    border-radius: 4px;
  }
  .teams li:hover {
    color: rgb(13, 85, 7);
    background-color: #DDD;
    left: .1em;
  }
  .teams li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .teams li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .teams .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#0a5c18;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    /* height: 1.8em; */
    height: 2.2em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  button {
    /* background: #0066A2;    */
    background: rgb(13,85,7); 
    padding: 5px 15px;  
    color: white;
    border-style: outset;
    border-color: rgb(0,0,0);
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
  }
  
  button:disabled,
  button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  }