<br>
<div class="tablediv">
<table matSort class="mat-table">
    <tr class="mat-header-row">
      <th mat-sort-header="name" class="mat-header-cell">Team</th>
      <th mat-sort-header="players" class="mat-header-cell">Players</th>
      <th mat-sort-header="record" class="mat-header-cell">Points</th>
    </tr>
  
    <tr *ngFor="let team of teams" class="mat-row">
      <td class="mat-cell" :last-child>{{team.name}}</td>
      <td class="mat-cell" :last-child><div *ngFor="let player of team.players">{{player.name}}</div></td>
      <td class="mat-cell" :last-child>{{team.record}}</td>
    </tr>
  </table>
  </div>