<app-sidebar></app-sidebar>>
<br>
<form [formGroup]="angForm" (ngSubmit)="onSubmit()">       
    <div>
        <label>
            Name:
            <input type="text" formControlName="name" required>
            <!-- <input type="text" id="firstName" class="form-control" formControlName="firstName" required> -->
        </label>    
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                    Name is required.
                </div>
        </div>
    </div>
    <button type="submit" [disabled]="!angForm.valid">Submit</button>
</form>